@font-face {
  font-family: "Tanker-Regular";
  src: url("../fonts/Tanker-Regular.woff2") format("woff2"), url("../fonts/Tanker-Regular.woff") format("woff"), url("../fonts/Tanker-Regular.ttf") format("truetype");
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "Erode-Variable";
  src: url("../fonts/Erode-Variable.woff2") format("woff2"), url("../fonts/Erode-Variable.woff") format("woff"), url("../fonts/Erode-Variable.ttf") format("truetype");
  font-weight: 300 700;
  font-display: swap;
  font-style: normal;
}
/* Reset Styles */
* {
  color: inherit;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

ul {
  padding: 0;
  list-style-type: none;
}

a {
  text-decoration: none;
}

hr {
  border: 0;
  border-top: 1px dotted #efefef;
}