@font-face {
  font-family: "Tanker-Regular";
  src: url("../fonts/Tanker-Regular.woff2") format("woff2"), url("../fonts/Tanker-Regular.woff") format("woff"), url("../fonts/Tanker-Regular.ttf") format("truetype");
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "Erode-Variable";
  src: url("../fonts/Erode-Variable.woff2") format("woff2"), url("../fonts/Erode-Variable.woff") format("woff"), url("../fonts/Erode-Variable.ttf") format("truetype");
  font-weight: 300 700;
  font-display: swap;
  font-style: normal;
}
/* Reset Styles */
html,
body {
  overflow-x: hidden;
  margin: 0;
  padding: 0;
}

* {
  color: inherit;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  position: relative;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #0f0f0f;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

a {
  text-decoration: none;
}

hr {
  border: 0;
  border-top: 1px dotted #efefef;
}

h1 {
  color: #e7e7e7;
  font-family: Tanker;
  font-size: 6rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.08rem;
  text-align: center;
}

h2 {
  color: #e7e7e7;
  font-family: Tanker;
  font-size: 2.25rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.06rem;
}

p {
  color: #dbdbdb;
  font-family: Erode;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

button {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #92d0fc;
  border-radius: 5px;
  color: #dbdbdb;
  font-family: "Erode-Variable";
  padding: 0.8rem 1.7rem 0.8rem 1.7rem;
  background-color: #18181B;
  font-size: 1.25rem;
  width: 12.25rem;
  height: 2.6rem;
  flex-shrink: 0;
}

button:hover {
  box-shadow: 0px 0px 0.3360468745px 0px #92d0fc, 0px 0px 0.672093749px 0px #92d0fc, 0px 0px 2.3523280621px 0px #92d0fc, 0px 0px 4.7046561241px 0px #92d0fc, 0px 0px 8.0651254654px 0px #92d0fc, 0px 0px 14.1139688492px 0px #92d0fc;
  color: #e7e7e7;
}

/* toggle btn */
#toggle-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  right: 0;
  width: 100px;
  height: 100px;
  margin: 2em;
  cursor: pointer;
  z-index: 100;
  padding-bottom: 1em;
}

.menu-button {
  display: flex;
  align-self: center;
  justify-self: center;
  cursor: pointer;
  background-color: transparent;
  border: none;
  width: 80px;
  height: 80px;
  position: absolute;
  top: 0;
  right: 0.5em;
  border-radius: 100%;
}

.menu-button:hover {
  background-color: transparent;
  border: none;
  box-shadow: none;
}

nav {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 55%;
  z-index: 10;
  transform: translateX(100%);
  transition: transform ease-out 250ms;
}

nav ul {
  font-family: "Tanker", sans-serif;
  color: #e7e7e7;
  font-size: 4rem;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: space-between;
  align-items: stretch;
  background-color: #18181B;
}

nav a {
  padding: 12.5vh 4em;
  display: inline-block;
  line-height: 0;
}

nav li {
  border-bottom: 0.5px solid #dbdbdb;
  display: flex;
  align-items: center;
  justify-content: center;
}

nav a:hover {
  color: #92d0fc;
}

.close-icon {
  display: none;
}

.nav-is-open nav {
  transform: translateX(0);
}
.nav-is-open .open-icon {
  display: none;
}
.nav-is-open .close-icon {
  display: block;
}

.btn-outline {
  position: absolute;
  width: 60px;
  height: 60px;
  border: 0.5px solid #e7e7e7;
}

.btn-outline-1 {
  border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
  animation: morph 4s linear infinite;
}

.btn-outline-2 {
  border-radius: 53% 47% 43% 57%/51% 39% 61% 49%;
}

@media screen and (max-width: 768px) {
  nav ul {
    font-size: 2rem;
  }
  .btn-outline {
    width: 50px;
    height: 50px;
  }
  #toggle-btn {
    right: -30px;
  }
  nav ul {
    justify-content: space-evenly;
  }
}
@keyframes blobAnimation {
  100% {
    border-radius: 50%;
    transform: translate(-50%, -50%);
  }
  25% {
    border-radius: 60%;
    transform: translate(-45%, -45%);
  }
  50% {
    border-radius: 70%;
    transform: translate(-40%, -40%);
  }
  75% {
    border-radius: 60%;
    transform: translate(-45%, -45%);
  }
}
.blob {
  width: 200px;
  height: 200px;
  background: linear-gradient(90deg, #de6161 0%, #2657eb 100%);
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: blobAnimation 10s infinite ease-in-out;
}

@keyframes fluid {
  0% {
    border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
  }
  50% {
    border-radius: 30% 60% 70% 40%/50% 60% 30% 60%;
  }
  100% {
    border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
  }
}
.fluid {
  animation: blobAnimation 4s infinite ease-in-out;
}

.hero-bg {
  animation: fluid 8s ease-in-out infinite;
  background: linear-gradient(90deg, #de6161 0%, #2657eb 100%);
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
  height: 35rem;
  position: absolute;
  transition: all 0.5s ease-in-out;
  width: 35rem;
}

.hero-container {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.blur {
  width: 100vw;
  height: 100vh;
  margin: 0 auto;
  background: rgba(13, 13, 13, 0.3);
  backdrop-filter: blur(60px);
  z-index: 1;
}

.img-container {
  justify-self: center;
  align-self: center;
  grid-column: 2/3;
  background-image: url(/assets/hero-img.webp);
  -webkit-animation: morph 8s ease-in-out infinite;
  animation: morph 8s ease-in-out infinite;
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 53% 49% 29% 77%/60% 30% 70% 40%;
  height: 15rem;
  width: 15rem;
  position: relative;
  margin: 1em;
  z-index: 3;
}

@keyframes morph {
  0% {
    border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
  }
  50% {
    border-radius: 30% 60% 70% 40%/50% 60% 30% 60%;
  }
  100% {
    border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
  }
}
.title-wrapper {
  display: grid;
  grid-template-columns: auto min-content auto;
  grid-template-rows: min-content min-content min-content;
  height: 50vh;
}
.title-wrapper h1 {
  align-self: center;
  width: fit-content;
}
.title-wrapper h1:nth-child(1) {
  text-align: right;
  margin-right: -1.2em;
}
.title-wrapper h1:nth-child(3) {
  text-align: left;
  margin-left: -1.2em;
}
.title-wrapper h2 {
  justify-self: center;
  align-self: center;
  text-align: center;
  grid-column: 2/3;
  grid-row: 2/3;
  width: 24.4375rem;
  margin-bottom: 0.2rem;
}
.title-wrapper p {
  font-size: 2rem;
  text-align: center;
  grid-column: 2/3;
  grid-row: 3/4;
  width: 31.6875rem;
  margin-bottom: 1rem;
}
.title-wrapper button {
  justify-self: center;
  grid-column: 2/3;
  margin-top: 0.4em;
}

@media screen and (max-width: 768px) {
  .img-container {
    height: 6rem;
    width: 6rem;
  }
  .blob {
    width: 50px;
    height: 50px;
    animation: blobAnimation 10s infinite ease-in-out;
  }
  .fluid {
    height: 15rem;
    width: 15rem;
  }
  .hero-bg {
    height: 15rem;
    width: 15rem;
  }
  .title-wrapper h1 {
    font-size: 2.25rem;
  }
  .title-wrapper h1:nth-child(1) {
    text-align: right;
    margin-right: -1.8em;
  }
  .title-wrapper h1:nth-child(3) {
    text-align: left;
    margin-left: -1.8em;
  }
  .title-wrapper h2 {
    font-size: 1.25rem;
    width: 12rem;
  }
  .title-wrapper p {
    font-size: 1.25rem;
    width: 16rem;
    height: 3rem;
    margin-bottom: 1.2rem;
  }
  .title-wrapper button {
    width: 8rem;
    height: 2rem;
    font-size: 0.85rem;
    margin-top: 1.2em;
  }
}
section {
  width: 100%;
  height: 100%;
}

.projects-container {
  margin: 6em auto;
  width: fit-content;
  height: max-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.projects-container .projects-title {
  margin-bottom: 0.3em;
}

.tech-container {
  align-self: flex-start;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.5em;
}
.tech-container .icons-container {
  display: flex;
  align-items: center;
  gap: 1em;
}
.tech-container .icons-container .icon {
  aspect-ratio: 2/1;
  object-fit: contain;
}

.images-container {
  position: relative;
  overflow: hidden;
}
.images-container .overlay {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(5px);
  filter: grayscale(45%);
  border-radius: 20px;
  position: absolute;
  bottom: 0;
  left: 0;
  overflow: hidden;
  transform: translateY(100%);
  opacity: 0;
  z-index: -1;
  transition: all 0.5s cubic-bezier(0.25, 0.1, 0.25, 1);
  transition-timing-function: linear;
  transition-duration: 600ms;
}
.images-container .overlay .black-text {
  color: black;
  margin-bottom: 0.5em;
}
.images-container .overlay button {
  cursor: pointer;
}

.images-container:hover .overlay {
  border-radius: 20px;
  opacity: 1;
  z-index: 1;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  transition-timing-function: linear;
  transition-duration: 500ms;
  --tw-translate-y: 100%;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.images-container img:nth-child(2) {
  position: absolute;
  right: 0;
  bottom: 0;
}

.background-graphic1 {
  position: absolute;
  right: 200px;
  bottom: 0;
}

.container {
  position: relative;
}

.container .slide {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  width: 100vw;
  height: 100vh;
}
.container .slide-container {
  display: none;
}
.container .slide-container.active {
  display: block;
}
.container #prev,
.container #next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  color: #92d0fc;
  background: #e7e7e7;
  height: 50px;
  width: 40px;
  line-height: 50px;
  font-size: 25px;
  text-align: center;
  cursor: pointer;
  font-weight: bolder;
}
.container #prev:hover,
.container #next:hover {
  background: orange;
}
.container #prev {
  left: 20px;
}
.container #next {
  right: 20px;
}

.overlay .white-text {
  color: white;
  margin-bottom: 0.5em;
}