// Theme Colors

$primary-color: #e7e7e7;
$secondary-color: #dbdbdb;
$accent-color: #92d0fc;

// Font Sizes 

$fs-xl: 6rem;
$fs-600: 4rem;
$fs-500: 2.25rem;
$fs-400: 2rem;
$fs-base: 1.25;
$fs-s: 1rem;