// Theme Colors

$primary-color: #e7e7e7;
$secondary-color: #dbdbdb;
$accent-color: #92d0fc;

// Font Sizes

$fs-xl: 6rem;
$fs-600: 4rem;
$fs-500: 2.25rem;
$fs-400: 2rem;
$fs-base: 1.25;
$fs-sm: 1rem;

// Borders

$border-base-thickness: border 1px;

// Padding

$padding-base: 0.5rem 1.7rem 0.5rem 1.7rem;

// Box-shadow

$hover-box-shadow: 0px 0px 0.33604687452316284px 0px #92d0fc,
  0px 0px 0.6720937490463257px 0px #92d0fc,
  0px 0px 2.352328062057495px 0px #92d0fc,
  0px 0px 4.70465612411499px 0px #92d0fc,
  0px 0px 8.065125465393066px 0px #92d0fc,
  0px 0px 14.113968849182129px 0px #92d0fc;
