// Variables & Functions
@import "variables";

// Animations
@import "animations";

// Base & Layout

@import "base";

// Colors

// Components
@import "components/buttons";
@import "components/nav";

// Utilities

// Home Page

.blob {
  width: 200px;
  height: 200px;
  background: linear-gradient(90deg, #de6161 0%, #2657eb 100%);
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: blobAnimation 10s infinite ease-in-out;
}

.fluid {
  animation: blobAnimation 4s infinite ease-in-out;
}

.hero-bg {
  animation: fluid 8s ease-in-out infinite;
  background: linear-gradient(90deg, #de6161 0%, #2657eb 100%);
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
  height: 35rem;
  position: absolute;
  transition: all 0.5s ease-in-out;
  width: 35rem;
}

.hero-container {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.blur {
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  background: rgba(13, 13, 13, 0.3);
  backdrop-filter: blur(60px);
  z-index: 1;
}

.page-content {
  z-index: 10;
  width: 100vw;
  height: 100vh;
}

.img-container {
  justify-self: center;
  align-self: center;
  grid-column: 2/3;
  background-image: url(/assets/hero-img.webp);
  -webkit-animation: morph 8s ease-in-out infinite;
  animation: morph 8s ease-in-out infinite;
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 53% 49% 29% 77%/60% 30% 70% 40%;
  height: 15rem;
  width: 15rem;
  position: relative;
  margin: 1em;
  z-index: 3;
}

.title-wrapper {
  display: grid;
  grid-template-columns: auto min-content auto;
  grid-template-rows: min-content min-content min-content;
  height: 50vh;

  h1 {
    align-self: center;
    width: fit-content;
    opacity: 0;
  }

  h1:nth-child(1) {
    text-align: right;
    margin-right: -1.2em;
    animation-delay: 0.3s;
  }

  h1:nth-child(3) {
    text-align: left;
    margin-left: -1.2em;
    animation-delay: 0.6s;
  }

  h2 {
    justify-self: center;
    align-self: center;
    text-align: center;
    grid-column: 2 / 3;
    grid-row: 2/ 3;
    width: 24.4375rem;
    opacity: 0;
    margin-bottom: 0.2rem;
    animation-delay: 0.9s;
  }

  p {
    font-size: $fs-400;
    text-align: center;
    grid-column: 2 / 3;
    grid-row: 3/4;
    width: 31.6875rem;
    margin-bottom: 1rem;
    opacity: 0;
    animation-delay: 1.2s;
  }

  .cta {
    justify-self: center;
    grid-column: 2 / 3;
    margin-top: 0.4em;
    width: $base-btn-width;
    height: $base-btn-height;
    opacity: 0;
    animation-delay: 1.5s;
  }
}

// Projects Page

.projects-container {
  margin: 6em auto;
  width: fit-content;
  height: max-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.tech-container {
  align-self: flex-start;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 1em;

  .icons-container {
    display: flex;
    align-items: center;
    margin-top: 0.5em;
    gap: 3em;

    .icon {
      aspect-ratio: 1/1;
      object-fit: contain;
    }
  }
}

.images-container {
  position: relative;
  overflow: hidden;
  margin-top: 1.5em;

  img:nth-child(2) {
    position: absolute;
    right: 0;
    bottom: 0;
  }

  .overlay {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(5px);
    filter: grayscale(45%);
    border-radius: 20px;
    position: absolute;
    bottom: 0;
    left: 0;
    overflow: hidden;
    transform: translateY(100%);
    opacity: 0;
    z-index: -1;
    transition: all 0.5s cubic-bezier(0.25, 0.1, 0.25, 1);
    transition-timing-function: linear;
    transition-duration: 600ms;

    .black-text {
      color: black;
      margin-bottom: 0.5em;
    }

    .white-text {
      color: white;
      margin-bottom: 0.5em;
    }

    .view-btn {
      cursor: pointer;
      width: $base-btn-width;
      height: $base-btn-height;
    }
  }
}

.images-container:hover .overlay {
  border-radius: 20px;
  opacity: 1;
  z-index: 1;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  transition-timing-function: linear;
  transition-duration: 500ms;
  --tw-translate-y: 100%;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y))
    rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y))
    scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

// Project Page Background Graphic

.background-graphic1 {
  position: absolute;
  left: 80%;
  top: 80%;
}

// About Page Background Graphic

.background-graphic2 {
  position: absolute;
  left: 90%;
  top: 100%;
}

.background-graphic3 {
  position: absolute;
  left: 10%;
  bottom: 100%;
}

.projects-page-container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  padding-top: 5em;

  .projects-title {
    margin: 5em auto -8em auto;
  }

  .slide {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
  }

  .slide-container {
    display: none;
  }

  .slide-container.active {
    display: block;
  }

  #prev,
  #next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    height: 50px;
    width: 50px;
    border-radius: 100%;
    line-height: 50px;
    font-size: 25px;
    text-align: center;
    cursor: pointer;
    font-weight: bolder;
  }

  #prev {
    left: 30px;
  }

  #next {
    right: 30px;
  }
}

// About Page

.about-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 50rem;
  height: 100%;
  margin: 0 auto;
  padding-top: 2em;
}

.about-title-wrapper {
  width: 55rem;
  height: fit-content;
  margin: 4em 0 2em 0;
}

.about-text-wrapper {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  gap: 0.8ch;
  margin-top: 1em;
}

.about-images-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 4em;

  img {
    border-radius: 10px;
    position: relative;
  }
}

.image:nth-child(1) img {
  transform: rotate(-15deg);
  transition: 0.3s ease-in-out;
  margin-right: -11em;
}

.image:nth-child(2) img {
  transition: 0.3s ease-in-out;
  margin-bottom: 2em;
  z-index: 1;
}

.image:nth-child(3) img {
  transition: 0.3s ease-in-out;
  transform: rotate(15deg);
  margin-left: -11em;
}

.image:nth-child(1):hover img {
  transform: translateX(-25px) translateY(-35px) rotate(-20deg);
  transition: 0.3s ease-in-out;
}

.image:nth-child(2):hover img {
  z-index: 2;
  transform: translateY(-5px) scale(1.1);
  transition: 0.3s ease-in-out;
}

.image:nth-child(3):hover img {
  transform: translateX(25px) translateY(-35px) rotate(20deg);
  transition: 0.3s ease-in-out;
}

.reveal {
  opacity: 0;
  transition: opacity 0.6s;
  display: inline-block;
  width: max-content;
  height: min-content;
  font-size: $fs-sm;
  letter-spacing: 0.1rem;
  line-height: 1.6rem;
  color: $secondary-color;
}

.skills-container {
  width: 100%;

  h2 {
    margin: 1em 0 1em 0;
  }

  .icons-container {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 4em;

    .icon {
      aspect-ratio: 1/1;
      object-fit: contain;
    }
  }
}

.about-cta-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100vw;
  height: 26rem;
  padding-top: 4em;
  margin-top: 2em;
  gap: 2em;
  background: linear-gradient(
    180deg,
    rgba(35, 37, 38, 0) 0%,
    rgba(65, 67, 69, 0.35) 100%
  );

  h1 {
    font-size: $fs-600;
    margin-bottom: -0.2em;
  }

  p {
    font-size: $fs-400;
  }

  button {
    width: $base-btn-width;
    height: $base-btn-height;
  }
}

// Media Queries

@media only screen and (max-width: 767px) {
  // Home Page

  .img-container {
    height: 6rem;
    width: 6rem;
  }

  .blob {
    width: 50px;
    height: 50px;
    animation: blobAnimation 10s infinite ease-in-out;
  }

  .fluid {
    height: 15rem;
    width: 15rem;
  }

  .hero-bg {
    height: 15rem;
    width: 15rem;
  }

  // Project Page Background Graphic

  .background-graphic1 {
    width: 12rem;
    height: 12rem;
  }

  // About Page Background Graphic

  .background-graphic2 {
    width: 12rem;
    height: 12rem;
  }

  .title-wrapper {
    h1 {
      font-size: $fs-500;
    }

    h1:nth-child(1) {
      text-align: right;
      margin-right: -1.8em;
    }

    h1:nth-child(3) {
      text-align: left;
      margin-left: -1.8em;
    }

    h2 {
      font-size: $fs-sm;
      width: 12rem;
    }

    p {
      font-size: $fs-sm;
      width: 16rem;
      height: 3rem;
      margin-bottom: 1.4rem;
    }

    .cta {
      width: $sm-btn-width;
      height: $sm-btn-height;
      font-size: $fs-xsm;
      margin-top: 1.2em;
    }
  }

  // Projects Page

  .projects-title {
    h1 {
      font-size: $fs-600;
    }
  }

  .images-container {
    img:first-child {
      width: 22rem;
      height: 13rem;
    }

    img:nth-child(2) {
      width: 4rem;
      height: 8rem;
    }
  }

  #prev {
    margin-top: 3em;
  }

  #next {
    margin-top: 3em;
  }

  .arrow {
    width: 30px;
    height: 25px;
  }

  .tech-container {
    margin: 0.5em;
    width: min-content;
    height: min-content;

    h2 {
      margin: 3em 0 0.5em 0;
      font-size: $fs-400;
    }

    .icons-container {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 0.2em;
      margin: 0 auto;

      img {
        aspect-ratio: 2/1 !important;
        object-fit: contain;
      }
    }
  }

  .slide {
    padding: 0em 5em;
  }

  .slide-container {
    margin: -2em 1em 4em 1em;
  }

  .overlay {
    h2 {
      font-size: $fs-sm;
    }
  }

  .view-btn {
    text-align: center;
    font-size: $fs-sm !important;
    width: $sm-btn-width !important;
    height: $sm-btn-height !important;
  }

  // About Page

  .about-title-wrapper {
    h1 {
      font-size: $fs-500;
    }
  }

  .about-container {
    display: flex; 
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100vw;
    height: 100%;
  }
  
  .about-title-wrapper {
    width: fit-content;
    height: fit-content;
    margin: 4em 0 2em 0;
  }
  
  .about-text-wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 0.6ch;
    padding: 0 2em;
    text-align: center;
  }
  
  .about-images-container {
    margin: 1em 0 1.5em 0;
  
    img {
      width: 10.625rem;
      height: 14.375rem;
    }
  
  }
  
  .image:nth-child(2) img {
    z-index: 1;
    margin: 0em 4em;
  }
  
  .reveal {
    font-size: $fs-xsm;
    text-align: center;
  }

  .skills-container {
    padding: 0 2em;

    h2 {
      font-size: $fs-400
    }
  }

  .icons-container {

    .icon {
      width: 30px;
      height: 30px;
      object-fit: contain;
    }
  }
}
