// Variables & Functions
@import "variables";

// Animations
@import "animations";

// Base & Layout

@import "base";

// Colors

// Components
@import "components/buttons";
@import "components/nav";

// Utilities

.blob {
  width: 200px;
  height: 200px;
  background: linear-gradient(90deg, #de6161 0%, #2657eb 100%);
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: blobAnimation 10s infinite ease-in-out;
}

.fluid {
  animation: blobAnimation 4s infinite ease-in-out;
}

.hero-bg {
  animation: fluid 8s ease-in-out infinite;
  background: linear-gradient(90deg, #de6161 0%, #2657eb 100%);
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
  height: 35rem;
  position: absolute;
  transition: all 0.5s ease-in-out;
  width: 35rem;
}

.hero-container {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.blur {
  width: 100vw;
  height: 100vh;
  margin: 0 auto;
  background: rgba(13, 13, 13, 0.3);
  backdrop-filter: blur(60px);
  z-index: 1;
}

.img-container {
  justify-self: center;
  align-self: center;
  grid-column: 2/3;
  background-image: url(/assets/hero-img.webp);
  -webkit-animation: morph 8s ease-in-out infinite;
  animation: morph 8s ease-in-out infinite;
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 53% 49% 29% 77%/60% 30% 70% 40%;
  height: 15rem;
  width: 15rem;
  position: relative;
  margin: 1em;
  z-index: 3;
}

.title-wrapper {
  display: grid;
  grid-template-columns: auto min-content auto;
  grid-template-rows: min-content min-content min-content;
  height: 50vh;

  h1 {
    align-self: center;
    width: fit-content;
  }

  h1:nth-child(1) {
    text-align: right;
    margin-right: -1.2em;
  }

  h1:nth-child(3) {
    text-align: left;
    margin-left: -1.2em;
  }

  h2 {
    justify-self: center;
    align-self: center;
    text-align: center;
    grid-column: 2 / 3;
    grid-row: 2/ 3;
    width: 24.4375rem;
    margin-bottom: 0.2rem;
  }

  p {
    font-size: $fs-400;
    text-align: center;
    grid-column: 2 / 3;
    grid-row: 3/4;
    width: 31.6875rem;
    margin-bottom: 1rem;
  }

  button {
    justify-self: center;
    grid-column: 2 / 3;
    margin-top: 0.4em;
  }
}

section {
  width: 100%;
  height: 100%;
}

.projects-container {
  margin: 6em auto;
  width: fit-content;
  height: max-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .projects-title {
    margin-bottom: 0.3em;
  }
}

.tech-container {
  align-self: flex-start;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.5em;

  .icons-container {
    display: flex;
    align-items: center;
    gap: 1em;

    .icon {
      aspect-ratio: 2/1;
      object-fit: contain;
    }
  }
}

.images-container {
  position: relative;
  overflow: hidden;

  img:nth-child(2) {
    position: absolute;
    right: 0;
    bottom: 0;
  }

  .overlay {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(5px);
    filter: grayscale(45%);
    border-radius: 20px;
    position: absolute;
    bottom: 0;
    left: 0;
    overflow: hidden;
    transform: translateY(100%);
    opacity: 0;
    z-index: -1;
    transition: all 0.5s cubic-bezier(0.25, 0.1, 0.25, 1);
    transition-timing-function: linear;
    transition-duration: 600ms;

    .black-text {
      color: black;
      margin-bottom: 0.5em;
    }

    .white-text {
      color: white;
      margin-bottom: 0.5em;
    }

    button {
      cursor: pointer;
    }
  }
}

.images-container:hover .overlay {
  border-radius: 20px;
  opacity: 1;
  z-index: 1;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  transition-timing-function: linear;
  transition-duration: 500ms;
  --tw-translate-y: 100%;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y))
    rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y))
    scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.background-graphic1 {
  position: absolute;
  right: 200px;
  bottom: 0;
}

.container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  .projects-title {
    margin: 5em auto -8em auto;
  }
}

.container {
  .slide {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
  }

  .slide-container {
    display: none;
  }

  .slide-container.active {
    display: block;
  }

  #prev,
  #next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    height: 50px;
    width: 50px;
    border-radius: 100%;
    line-height: 50px;
    font-size: 25px;
    text-align: center;
    cursor: pointer;
    font-weight: bolder;
  }

  #prev {
    left: 30px;
  }

  #next {
    right: 30px;
  }
}

@media screen and (max-width: 768px) {
  .img-container {
    height: 6rem;
    width: 6rem;
  }

  .blob {
    width: 50px;
    height: 50px;
    animation: blobAnimation 10s infinite ease-in-out;
  }

  .fluid {
    height: 15rem;
    width: 15rem;
  }

  .hero-bg {
    height: 15rem;
    width: 15rem;
  }

  .title-wrapper {
    h1 {
      font-size: $fs-500;
    }

    h1:nth-child(1) {
      text-align: right;
      margin-right: -1.8em;
    }

    h1:nth-child(3) {
      text-align: left;
      margin-left: -1.8em;
    }

    h2 {
      font-size: $fs-sm;
      width: 12rem;
    }

    p {
      font-size: $fs-sm;
      width: 16rem;
      height: 3rem;
      margin-bottom: 1.2rem;
    }

    button {
      width: 8rem;
      height: 2rem;
      font-size: $fs-xsm;
      margin-top: 1.2em;
    }
  }

  .projects-title {
    h1 {
      font-size: $fs-500;
    }
  }

  .images-container {
    img:first-child {
      width: 358px;
      height: 212px;
    }

    img:nth-child(2) {
      width: 77px;
      height: 140px;
    }
  }

  svg {
    width: 30px;
    height: 25px;
  }
}
