// Variables & Functions
@import "variables";

// Base & Layout

@import "base";

// Colors

// Components
@import "components/buttons";

// Utilities

/* Background Blob Motion */

@keyframes blobAnimation {
  0%,
  100% {
    border-radius: 50%;
    transform: translate(-50%, -50%);
  }
  25% {
    border-radius: 60%;
    transform: translate(-45%, -45%);
  }
  50% {
    border-radius: 70%;
    transform: translate(-40%, -40%);
  }
  75% {
    border-radius: 60%;
    transform: translate(-45%, -45%);
  }
}

.blob {
  width: 200px;
  height: 200px;
  background: linear-gradient(90deg, #de6161 0%, #2657eb 100%);
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: blobAnimation 10s infinite ease-in-out;
}

@keyframes fluid {
  0% {
    border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
  }
  50% {
    border-radius: 30% 60% 70% 40%/50% 60% 30% 60%;
  }
  100% {
    border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
  }
}

.fluid {
  animation: blobAnimation 4s infinite ease-in-out;
}

.hero-bg {
  animation: fluid 8s ease-in-out infinite;
  background: linear-gradient(90deg, #de6161 0%, #2657eb 100%);
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
  height: 35rem;
  position: absolute;
  transition: all 0.5s ease-in-out;
  width: 35rem;
}

.hero-container {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.blur {
  width: 100vw;
  height: 100vh;
  background: rgba(13, 13, 13, 0.3);
  backdrop-filter: blur(60px);
  z-index: 1;
}

.img-container {
  justify-self: center;
  align-self: center;
  grid-column: 2/3;
  background-image: url(/assets/hero-img.webp);
  -webkit-animation: morph 8s ease-in-out infinite;
  animation: morph 8s ease-in-out infinite;
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  border: 3px solid #2d2e32;
  border-radius: 53% 49% 29% 77%/60% 30% 70% 40%;
  height: 15rem;
  width: 15rem;
  position: relative;
  margin: 1em;
  z-index: 3;
}

@keyframes morph {
  0% {
    border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
  }
  50% {
    border-radius: 30% 60% 70% 40%/50% 60% 30% 60%;
  }
  100% {
    border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
  }
}

.title-wrapper {
  display: grid;
  grid-template-columns: auto min-content auto;
  grid-template-rows: min-content min-content min-content;
  height: 50vh;

  h1 {
    align-self: center;
    width: fit-content;
  }

  h1:nth-child(1) {
    text-align: right;
    margin-right: -1.2em;
  }

  h1:nth-child(3) {
    text-align: left;
    margin-left: -1.2em;
  }

  h2 {
    justify-self: center;
    align-self: center;
    text-align: center;
    grid-column: 2 / 3;
    grid-row: 2/ 3;
    width: 24.4375rem;
    margin-bottom: 0.2rem;
  }

  p {
    font-size: $fs-400;
    text-align: center;
    grid-column: 2 / 3;
    grid-row: 3/4;
    width: 31.6875rem;
    margin-bottom: 1rem;
  }

  button {
    justify-self: center;
    grid-column: 2 / 3;
    margin-top: 0.4em;
  }
}

/* overlay  */
.overlay {
  position: absolute;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: 6;
}

/* toggle btn */

#toggle-btn {
  position: absolute;
  top: 0;
  right: 0;
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2em;
  z-index: 2000;
  cursor: pointer;
}

.btn-outline {
  position: absolute;
  width: 80px;
  height: 80px;
  border: 0.5px solid $primary-color;
}

.btn-outline-1 {
  border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
  animation: morph 4s linear infinite;
}

.btn-outline-2 {
  border-radius: 53% 47% 43% 57% / 51% 39% 61% 49%;
}

#hamburger {
  position: relative;
  display: block;
  cursor: pointer;
  height: 20px;
  width: 20px;
  appearance: none;
  background: none;
  outline: none;
  border: none;
  z-index: 1000;
}

#hamburger span {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  display: inline-block;
  width: 24px;
  height: 1.25px;
  background: $primary-color;
  transition: transform 0.25s;
}

#hamburger span::before {
  position: absolute;
  right: 0;
  display: inline-block;
  content: " ";
  width: 18px;
  height: 1.25px;
  background: $primary-color;
  transform: translateY(-4px);
  transition: transform 0.25s;
}

#hamburger.active span {
  transform: rotate(45deg);
}

nav {
  position: absolute;
  top: 100px;
  right: 50px;
  width: 250px;

  a {
    font-family: "Tanker";
    color: white;
    font-size: $fs-sm;
    text-align: right;
  }
}

.navigation {
  position: fixed;
  width: 350px;
  height: 100%;
  background-color: $light-bg-color;
  transition: 0.5s;

}

#hamburger.active span::before {
  top: unset;
  width: 24px;
  transform: rotate(-90deg);
}

@media screen and (max-width: 768px) {
  .img-container {
    height: 6rem;
    width: 6rem;
  }

  .blob {
    width: 50px;
    height: 50px;
    animation: blobAnimation 10s infinite ease-in-out;
  }

  .fluid {
    height: 15rem;
    width: 15rem;
  }

  .hero-bg {
    height: 15rem;
    width: 15rem;
  }

  .title-wrapper {
    h1 {
      font-size: $fs-500;
    }

    h1:nth-child(1) {
      text-align: right;
      margin-right: -1.8em;
    }

    h1:nth-child(3) {
      text-align: left;
      margin-left: -1.8em;
    }

    h2 {
      font-size: $fs-sm;
      width: 12rem;
    }

    p {
      font-size: $fs-sm;
      width: 15rem;
      height: 3rem;
      margin-bottom: 0.8rem;
    }

    button {
      width: 10rem;
      height: 2rem;
      font-size: $fs-sm;
      margin-top: 1.2em;
    }
  }
}
