@import 'variables';
@import 'base';

h1 {
  color: $primary-color;
  text-align: center;
  font-family: Tanker;
  font-size: 4rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.06rem;
}

h2 {
  color: $primary-color;
  font-family: Tanker;
  font-size: 2.25rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

/* styles.css */
@keyframes blobAnimation {
  0%,
  100% {
    border-radius: 50%;
    transform: translate(-50%, -50%);
  }
  25% {
    border-radius: 60%;
    transform: translate(-45%, -45%);
  }
  50% {
    border-radius: 70%;
    transform: translate(-40%, -40%);
  }
  75% {
    border-radius: 60%;
    transform: translate(-45%, -45%);
  }
}

.blob {
  width: 150px;
  height: 150px;
  background: linear-gradient(90deg, #de6161 0%, #2657eb 100%);
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: blobAnimation 10s infinite ease-in-out;
}

@keyframes fluid {
  0% {
    border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
  }
  50% {
    border-radius: 30% 60% 70% 40%/50% 60% 30% 60%;
  }
  100% {
    border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
  }
}

.fluid {
  animation: blobAnimation 4s infinite ease-in-out;
}

.hero-bg {
  animation: fluid 8s ease-in-out infinite;
  background: linear-gradient(90deg, #de6161 0%, #2657eb 100%);
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
  height: 35rem;
  position: absolute;
  transition: all 0.5s ease-in-out;
  width: 35rem;
}

.hero-container {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.blur {
  width: 100vw;
  height: 100vh;
  flex-shrink: 0;
  background: rgba(217, 217, 217, 0.01);
  backdrop-filter: blur(50px);
  z-index: 1;
}

@media screen and (max-width: 768px) {
  .blob {
    width: 50px;
    height: 50px;
    animation: blobAnimation 10s infinite ease-in-out;
  }

  .fluid {
    height: 20rem;
    width: 20rem;
  }

  .hero-bg {
    height: 25rem;
    width: 25rem;
  }
}

.img-container {
  justify-self: center;
  align-self: center;
  grid-column: 2/3;
  background-image: url(/assets/hero-img.webp);
  -webkit-animation: morph 8s ease-in-out infinite;
  animation: morph 8s ease-in-out infinite;
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  border: 3px solid #2d2e32;
  border-radius: 53% 49% 29% 77%/60% 30% 70% 40%;
  height: 15rem;
  width: 15rem;
  position: relative;
}

@keyframes morph {
  0% {
    border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
  }
  50% {
    border-radius: 30% 60% 70% 40%/50% 60% 30% 60%;
  }
  100% {
    border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
  }
}

.title-wrapper {
  border: 1px solid red;
  display: grid;
  grid-template-columns: auto 2fr auto;
  grid-template-rows: repeat(3, 1fr);
  width: 900px;
  height: 50vh;
}

.title-wrapper h1:nth-child(1) {
  justify-self: flex-end;
  text-align: right;
  width: fit-content;
}

.title-wrapper h1:nth-child(3) {
  text-align: left;
  width: fit-content;
}

.title-wrapper > h2 {
  justify-self: center;
  align-self: center;
  text-align: center;
  grid-column: 2 /3;
  width: fit-content;
}
