$base-btn-width: 12.25rem;
$base-btn-height: 2.6rem;

$sm-btn-width: 10.6875rem;
$sm-btn-height: 2rem;


button {
  display: flex;
  align-items: center;
  justify-content: center;
  border: $border-base-thickness $accent-color;
  border-radius: 5px;
  color: $secondary-color;
  font-family: "Erode-Variable";
  padding: $padding-base;
  background-color: $light-bg-color;
  font-size: $fs-sm;
  flex-shrink: 0;
}

button:hover {
  box-shadow: $hover-box-shadow;
  color: $primary-color;
}
