button {
  border: $border-base-thickness solid $accent-color;
  color: $primary-color;
  font-family: "Erode-Variable";
  padding: $padding-base;
}

button:hover {
    box-shadow: $hover-box-shadow;
}