button {
  display: flex;
  align-items: center;
  justify-content: center;
  border: $border-base-thickness $accent-color;
  border-radius: 5px;
  color: $secondary-color;
  font-family: "Erode-Variable";
  padding: $padding-base;
  background-color: $light-bg-color;
  font-size: $fs-sm;
  width: 12.25rem;
  height: 2.6rem;
  flex-shrink: 0;
}

button:hover {
  box-shadow: $hover-box-shadow;
  color: $primary-color;
}
