/* toggle btn */

#toggle-btn {
  position: absolute;
  top: 0;
  right: 0;
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2em;
  cursor: pointer;
  z-index: 100;

}

.menu-button {
  cursor: pointer;
  background-color: transparent;
  border: none;
  width: 90px;
  height: 90px;
  position: absolute;
  top: 0;
  right: 0.5em;
}

.menu-button:hover {
  background-color: transparent;
  border: none;
  box-shadow: none;
}

nav {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 75%;
  z-index: 10;
  transform: translateX(100%);
  transition: transform ease-out 250ms;
}

nav ul {
  font-family: 'Tanker';
  color: $primary-color;
  font-size: $fs-500;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: space-around;
  align-items: stretch;
  background-color: $light-bg-color;
}

nav a {
  padding: calc(100vh/8) 4em;
  display: inline-block;
  line-height: 0;
}

nav li {
  border-bottom: 1px solid $secondary-color;
  display: flex;
  align-items: center;
  justify-content: center;
}

nav a:hover {
  color: $accent-color;
}

.nav-is-open {
  nav {
    transform: translateX(0);
  }

  .container-all {
    transform: translateX(80%);
  }
}

.btn-outline {
  position: absolute;
  width: 80px;
  height: 80px;
  border: 0.5px solid $primary-color;
}

.btn-outline-1 {
  border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
  animation: morph 4s linear infinite;
}

.btn-outline-2 {
  border-radius: 53% 47% 43% 57% / 51% 39% 61% 49%;
}

#hamburger {
  position: relative;
  display: flex;
  cursor: pointer;
  height: 20px;
  width: 20px;
  transform: translateY(-50%);
  background: none;
  outline: none;
  border: none;
  z-index: 1000;
}

#hamburger span {
  color: $primary-color;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  display: inline-block;
  width: 24px;
  background: $primary-color;
  transition: transform 0.25s;
}

#hamburger span::before {
  position: absolute;
  right: 0;
  display: inline-block;
  content: " ";
  width: 18px;
  height: 1.25px;
  background: $primary-color;
  transform: translateY(-4px);
  transition: transform 0.25s;
}

#hamburger.active span {
  transform: rotate(45deg);
}
