/* toggle btn */

#toggle-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  right: 0;
  width: 100px;
  height: 100px;
  margin: 2em;
  cursor: pointer;
  z-index: 100;
  padding-bottom: 1em;
}

.menu-button {
  display: flex;
  align-self: center;
  justify-self: center;
  cursor: pointer;
  background-color: transparent;
  border: none;
  width: 80px;
  height: 80px; 
  position: absolute;
  top: 0;
  right: 0.5em;
  border-radius: 100%;
}

.menu-button:hover {
  background-color: transparent;
  border: none;
  box-shadow: none;
}

nav {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 55%;
  z-index: 10;
  transform: translateX(100%);
  transition: transform ease-out 250ms;
}

nav ul {
  font-family: 'Tanker';
  color: $primary-color;
  font-size: $fs-600;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: space-between;
  align-items: stretch;
  background-color: $light-bg-color;
}

nav a {
  padding: calc(100vh/8) 4em;
  display: inline-block;
  line-height: 0;
}

nav li {
  border-bottom: 0.5px solid $secondary-color;
  display: flex;
  align-items: center;
  justify-content: center;
}

nav a:hover {
  color: $accent-color;
}

.close-icon {
  display: none;
}

.nav-is-open {
  nav {
    transform: translateX(0);
  }

  .open-icon {
    display: none;
  }
  
  .close-icon {
    display: block;
  }
}

.btn-outline {
  position: absolute;
  width: 60px;
  height: 60px;
  border: 0.5px solid $primary-color;
}

.btn-outline-1 {
  border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
  animation: morph 4s linear infinite;
}

.btn-outline-2 {
  border-radius: 53% 47% 43% 57% / 51% 39% 61% 49%;
}


@media screen and (max-width: 768px) {
  nav ul {
    font-size: $fs-400;
  }  

  .btn-outline {
    width: 50px;
    height: 50px;
  }

  #toggle-btn {
    right: -30px;
  }

  nav ul {
    justify-content: space-evenly;
  }
}
