// Fonts
@font-face {
  font-family: "Tanker-Regular";
  src: url("../fonts/Tanker-Regular.woff2") format("woff2"),
    url("../fonts/Tanker-Regular.woff") format("woff"),
    url("../fonts/Tanker-Regular.ttf") format("truetype");
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "Erode-Variable";
  src: url("../fonts/Erode-Variable.woff2") format("woff2"),
    url("../fonts/Erode-Variable.woff") format("woff"),
    url("../fonts/Erode-Variable.ttf") format("truetype");
  font-weight: 300 700;
  font-display: swap;
  font-style: normal;
}

/* Reset Styles */

html,
body {
  overflow-x: hidden;
  margin: 0;
  padding: 0;
}

* {
  color: inherit;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  position: relative;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #0f0f0f;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

a {
  text-decoration: none;
}

hr {
  border: 0;
  border-top: 1px dotted #efefef;
}

h1 {
  color: $primary-color;
  font-family: "Tanker-Regular";
  font-size: $fs-xl;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.08rem;
  text-align: center;
}

h2 {
  color: $primary-color;
  font-family: "Tanker-Regular";
  font-size: $fs-500;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.06rem;
}

p {
  color: $secondary-color;
  font-family: "Erode-Variable";
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

img,
picture,
video {
  max-width: 100%;
}
